:root {
  /* Base Colors */
  --win98-light-gray: #e0e0e0;
  --win98-gray: #c0c0c0;
  --win98-dark-gray: #808080;
  --win98-darker-gray: #404040;
  --win98-black: #000000;
  --win98-white: #ffffff;

  /* Classic Blues */
  --win98-blue: #000080;
  --win98-light-blue: #1084d0;

  /* Accent Colors */
  --win98-accent-pink: #ff00ff;
  --win98-accent-hover: #d4d4d4;
  --win98-accent-active: rgb(219, 219, 219);

  /* Button & Window Colors */
  --win98-button-face: #c0c0c0;
  --win98-button-shadow: #808080;
  --win98-button-highlight: #ffffff;
  --win98-button-dark-shadow: #404040;
  --win98-window-bg: #c0c0c0;

  /* Wndows 7 Styles */
  --win7-button-face: linear-gradient(
    to bottom,
    #f2f2f2 0%,
    #d4d6e6 50%,
    #8996bb 51%,
    #cfcfcf 100%
  );
  --win7-button-hover: linear-gradient(
    to bottom,
    #eaf6fd 0%,
    #d9f0fc 50%,
    #bee6fd 51%,
    #a7d9f5 100%
  );

  --win7-title-header: linear-gradient(
    0deg,
    rgba(191, 191, 191, 1) 0%,
    rgba(99, 99, 99, 1) 14%,
    rgba(74, 70, 70, 1) 29%,
    rgba(77, 77, 77, 1) 38%,
    rgba(196, 196, 196, 1) 100%
  );

  /* Fonts */
  --win98-font: 'MS Sans Serif', 'Microsoft Sans Serif', Arial, sans-serif;
  --win98-font-size: 11px;
  --win98-font-title: 'Orbitron', sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--win98-font);
  font-size: var(--win98-font-size);
  background-image: url('/assets/images/background/main-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--win98-black);
  overflow-x: hidden;
  overflow-y: auto;

  body.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
  }
}

main {
  display: flex;
  justify-content: center;
  margin: 90px 270px;
}

ul {
  list-style: none;
  padding-left: 0;
}
