:root {
  /* Base Colors */
  --win98-light-gray: #e0e0e0;
  --win98-gray: #c0c0c0;
  --win98-dark-gray: #808080;
  --win98-darker-gray: #404040;
  --win98-black: #000000;
  --win98-white: #ffffff;

  /* Accent Colors */
  --win98-blue: #000080;
  --win98-accent-blue: blue;
  --win98-light-blue: #3bb7dd;
  --win98-accent-pink: #ff00ff;
  --win98-accent-purple: rgb(97, 53, 155);
  --win98-accent-hover: #d4d4d4;
  --win98-accent-active: rgb(219, 219, 219);

  /* Button & Window Colors */
  --win98-button-face: #c0c0c0;
  --win98-button-shadow: #808080;
  --win98-button-highlight: #ffffff;
  --win98-button-dark-shadow: #404040;
  --win98-window-bg: #c0c0c0;

  /* Wndows 7 Button */
  --win7-button-face: linear-gradient(
    to bottom,
    #f2f2f2 0%,
    #d4d6e6 50%,
    #8996bb 51%,
    #cfcfcf 100%
  );
  --win7-button-hover: linear-gradient(
    to bottom,
    #eaf6fd 0%,
    #d9f0fc 50%,
    #bee6fd 51%,
    #a7d9f5 100%
  );

  /* Fonts */
  --win98-font: 'MS Sans Serif', 'Microsoft Sans Serif', Arial, sans-serif;
  --win98-font-size: 11px;
  --win98-font-title: 'Orbitron', sans-serif;
}

// Default styling

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--win98-font);
  font-size: var(--win98-font-size);
  background-image: url('/assets/images/background/main-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--win98-black);
  overflow-x: hidden;
}

html {
  scrollbar-gutter: stable;
}

main {
  display: flex;
  justify-content: center;
  margin: 90px 270px;
}

ul {
  list-style: none;
  padding-left: 0;
}

button:hover {
  cursor: pointer;
}

.win98-btn {
  padding: 10px 30px;
  margin-bottom: 15px;
  font-size: 1.2rem;
  font-family: 'Orbitron', sans-serif;
  align-self: center;
  text-shadow: 1px 1px 2px var(--win98-black);
  border: 1px solid var(--win98-white);
  box-shadow: 0 0 0 1px var(--win98-dark-gray);
  border-radius: 15px;
  background: var(--win7-button-face);
  color: white;

  &:hover {
    border: 1px solid #ecf7fd;
    box-shadow: 0 0 0 1px var(--win98-light-blue);
    background: var(--win7-button-hover);
  }
}
